<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-building"></span>
        <span class="sidebar-title">{{ 'Een overheid'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/custom/novumoverheid/services/available_services/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Beschikbare diensten'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/services/logging/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Logging'|translate }}
            </a>
        </li>
    </ul>
</li>