<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-cogs"></span>
        <span class="sidebar-title">{{ 'System'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/custom/novumoverheid/system/component_button_size/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_button_size'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/system/component_button_align/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_button_align'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/system/component_button_color_type/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_button_color_type'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/system/component_button_event/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_button_event'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/system/component_button_page/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_button_page'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/system/component_button/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_button'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/system/component_button_group_size/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_button_group_size'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/system/component_button_group_role/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_button_group_role'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/system/component_button_group/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_button_group'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/system/component_dialog_display/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_dialog_display'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/system/component_dialog_color_type/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_dialog_color_type'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/system/component_dialog/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_dialog'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/system/component_form_render_style/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_form_render_style'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/system/component_form_button_location/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_form_button_location'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/system/component_form/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_form'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/system/component_list_view/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_list_view'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/system/component_mind_map/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_mind_map'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/system/component_modal_render_style/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_modal_render_style'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/system/component_modal_button_location/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_modal_button_location'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/system/component_modal/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_modal'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/system/component_view/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_view'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/system/component_table/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_table'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumoverheid/system/component_table_form_row/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'component_table_form_row'|translate }}
            </a>
        </li>
    </ul>
</li>